/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body {
  width: 100%; height: 100%; 
  margin: 0; padding: 0; border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 13px; line-height: 15px;
  background: #EEE4B9;
}
img { border: none; }
a { color: #8D0D19; }
a:hover { color: #1A446C; }

#mainheader {
	height: 90px; width: 100%; 
	
	
}

#headerlh {
	float: left;
	width: 202px; height: 100%; 	
	margin: 0; padding: 0; text-align: center; 
  background: #689DC1; color: #8D0D19;
}


#headerrh { 
	
	width: 100%; height: 100%; 	
	margin: 0; padding: 0; text-align: left; 
  background: #1A446C; color: #D4E6F4;
}	

#header h1 { padding: 1em; margin: 0; }

#line {
	height: 2px; width: 100%; 
	background: #D4E6F4;
}

#main { 
	min-height: 100%; 
	/* 
	height: 1000px;
	Боковые дивы растягиваются. Полосы прокрутки появляются. Текст может просвечиваться под футером. Без overflow:auto; много текста уйдёт ниже всех элементов и начнёт заполнять собой всю ширину экрана от левого края до правого, просвечиваясь через фон.
	
	min-height: 1000px;
	Боковые дивы не растягиваются. Полосы прокрутки не появляются. Все помещается на одну страницу. Без overflow:auto; много текста заполнит собой всё свободное пространство до футера на всю ширину экрана от левого края до правого, огибая соседние дивы слева и справа, не налазия на них.
	
	min-height: 100%; РЕКОМЕНДУЕТСЯ
		выставляет высоту main'a минимально равную (сначала родительским дивам, а потом, согласно им,) открытому окну. 
	Полосы прокрутки не появляются. Боковые дивы не растягиваются. Все помещается на одну страницу. Без overflow:auto; много текста заполнит собой всё свободное пространство до футера на всю ширину экрана от левого края до правого, огибая соседние дивы слева и справа, не налазия на них.
		В этой версии нужно использовать
			#page { 	
				height: 100%;
				padding-left: 2em; 				
				padding-top: 5px;
				padding-bottom: 5px;				
				vertical-align: top; 
				background: #EEE4B9;
				overflow: auto;
				}
			
	
	height: 100%;
		выставляет высоту main'a равную (сначала родительским дивам, а потом, согласно им,) открытому окну. Боковые дивы растягиваются на всю высоту. Но однако, если содержимого, например, в page, будет очень много, то появится ползунок прокрутки, а всё содержимое вылезет вниз за пределы футера. Текст внизу за границами может быть видно на фоне футера. Текст видно из-за свойства padding для page или navigation, т.к. оно считает расстояние не от низа родительского main, где начинается футер.
	Полосы прокрутки появляются. Боковые дивы растягиваются. 
			В этой версии нужно использовать
			#page { 	
				height: 100%;
				padding-left: 2em; 
				padding-top: 0;
				padding-bottom: 0;
				vertical-align: top; 
				background: #EEE4B9;
				overflow: auto;
				}
				
	min-height: auto;  и height: auto; 
		выставляет высоту div'a минимально равную содержимому, которое содержится внутри этого дива вместе с другими. Насколько это содержимое растянет main,настолько оно и растянется до футера. Однако при минимальных значениях содержимого, main получится настолько небольшой, что даже внизу после footer'a останется видимое пустое пространство, заполненное бэкграундом html'a или body.
	Полосы прокрутки не появляются. Боковые дивы не растягиваются. Всё помещается на одну страницу. min-height: auto; даже не появляется в консоли Firefox, появляется только height: auto; 
		
		Не забываем, что код так работает потому, что в navigation и page выставлено overflow: auto; для автоматического появления полосок прокрутки, если они становятся необходимы. В противном случае текст заполняет собой всё свободное пространство, а не положенный ему див.
	
	*/
	width: 100%; 
	margin: 0; padding: 0; 
	background: #EEE4B9;
}
#footer { 
	clear: both;
	height: 2em; margin: 0; padding: 1em; 
	text-align: center; 
	background: #1A446C;  color: #D4E6F4;
}

/* Navigation */
#navigation { 
	
	float: left;
	width: 150px; height: 100%; 
	margin: 0; padding: 0 2em; 
	color: #D4E6F4; background: #1A446C;
	
}
#navigation a { color: #D4E6F4; text-decoration: none; }
#navigation a:hover { color: #FFFFFF; }
ul.subjects { 
	margin: 1em 0; padding-left: 0; list-style: none;
}

ul.pages { padding-left: 2em;  list-style: square; font-weight: normal;}
.selected { font-weight: bold; }

/* Reklama */
#reklama { 
	float: right;
	width: 152px; height: 100%; 
	margin: 0; padding: 0 2px;
	font-size: 10px; text-align: center; 
	border-style: dotted; /* стиль границы */
	border-width: 0px 1px; /* сначала толщина верхней и нижней границы, потом левой и правой границы */
	color: #1A446C; background: #EEE4B9;
}
#reklama a { color: #1A446C; text-decoration: none; }
#reklama a:hover { color: #FFFFFF; }

/* Page Content */
#page { 
	
	/* float: left; должно отсутствовать, потому что оно прибивает этот див к левому краю браузера, и только если содержимого недостаточно, оставляет его на высоте справа от навигации. Как только содержимого станет много, весь див соскочит вниз и прибьется к левому краю.*/
	/* в одну строчку: отступы 1-сверху 2-справа 3-снизу 4-слева */	
				height: 100%;
				padding-left: 2em; 				
				padding-top: 5px;
				padding-bottom: 5px;				
				vertical-align: top; 
				background: #EEE4B9;
				overflow: auto;
}
#page h2 { color: #8D0D19; margin-top: 1em;}
#page h3 { color: #8D0D19; }

.view-content {
	margin: 1em; padding: 1em; border: 1px solid #999;
}

#form { 
	float: left;
	width: 700px;
	vertical-align: top;
	/*left: 170px;  /*Расстояние от левого края */ 
}

div.message {
	border: 2px solid #8D0D19;
	color: #8D0D19; font-weight: bold;
	margin: 1em 0 ; padding: 1em;
	width: 700px;
}

/* errors */
.error {
	color: #8D0D19; border: 2px solid #8D0D19;
	margin: 1em 0; padding: 1em;
}
.error ul {
	padding-left: 2em;
}
